body, html {
    padding: 0px;
    color: #000000;
    font-size: 1rem;
    font-weight: 500;
    line-height: 1.5;
    text-align: left;
    margin: 0;
    padding: 0;
    font-family: 'Raleway';
    
}

.contenu {
    width: 600px;
    height: 400px;
    margin: 10px 0px 0px 0px;
    transition: background-color 0.5s;
    border-radius: 5px;
    box-shadow: 0 4px 8px 0 rgb(0 0 0 / 20%);
    -webkit-transition: 0.3s;
    transition: 0.3s;
    padding: 1em;
    position: relative;
    right: 5px;
    background-color: #5d7290;
}

h2{
    font-family: 'Nunito';
    font-weight: bolder;
    font-style: italic;
    text-shadow: 0px 0px 5px black;
    color: white;
}

h1{
    text-align: center;
    font-family: 'Nunito';
    font-weight: bolder;
    text-shadow: 0px 0px 2px black;
    color: #5d7290;
}

.editeur {
	width: 600px;
	height: 250px; 
	padding: 1px; 
    margin-top: 2px;
    font-size: 1rem; 
    color: rgb(0, 0, 0);
    text-align: left;
    overflow-x: hidden;
    outline: none;
    resize: none;
    word-wrap: break-word;
    background-color: white;
    border-radius: 5px;
    font-family: 'Raleway';
    font-weight: normal;
    font-style: normal;
    text-shadow: 0px 0px 0px;
}

#motcle{
    border-style:none;
    background-color: white;
    text-align: left;
    text-indent: 2px;
}


#final {
    width: 630px;
    height:  600px;
    border-radius: 5px;
    padding: 1em;
    margin: 10px;
    top: 50px;
    overflow-y: auto;
    overflow-x: hidden;
    scrollbar-width: thin;
}

label {
    color: #fcfcfc;
    font-family: 'Raleway';
}

#pagination
{
    text-align: center;
}
button{
    border-radius: 3px;
    background-color: rgb(161, 161, 161);
    border: none;
    outline: none;
    width: 35px;
    height: 35px;
}
button.active{
        background-color:#5d7290;
}

input{
    text-align: center;
    cursor: pointer;
    outline: none;
    font-size: 15px;
    background-color: #a7a7a7;
    border: none;
    border-radius:3px;
    margin-left: 3px;
    width: auto;
    height: 20px;
}
      
input:hover{
    background-color: #5d7290;
}

input.active {
    background-color: #ffffff;
    box-shadow: 1px 2px #95a5a6;
}